.container {
  width: min(95%, 1320px);
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 710px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
  }
}

.header {
  background: #000;
  display: flex;
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 50;
  top: 0;
}
.header a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}
.header a img {
  padding: 12px 0;
}
.header__logo {
  padding: 16px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner ul {
  display: flex;
  background-color: #212121;
  border-radius: 45px;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .header__inner ul {
    display: none;
  }
}
.header__inner ul li {
  list-style: none;
  padding: 15px 35px;
  border-radius: 45px;
}
.header__inner ul li.active {
  background-color: #fff;
}
.header__inner ul li.active a {
  color: #000;
}
.header__right {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header__right .joinus {
    display: none;
  }
}
.header__right img {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__right img {
    display: inline-block;
  }
}

.header__inner ul li a.active {
  background-color: black;
}

.menu {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100%;
  display: none;
  background-color: #fff;
}
.menu.show {
  display: block;
}
@media screen and (min-width: 992px) {
  .menu {
    display: none;
  }
}
.menu img {
  position: absolute;
  right: 10%;
  top: 5%;
  transform: rotate(45deg);
  cursor: pointer;
}
.menu__inner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4.6875rem;
  text-align: center;
}
.menu ul li a {
  color: #000;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.hero {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .hero {
    display: none;
  }
}
.hero__left {
  background: url("/assets/img/sea.png");
  background-size: cover;
  background-position: 0%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.hero__left-text {
  position: absolute;
  z-index: 5;
  top: 20%;
  left: 30%;
  max-width: 600px;
}
@media screen and (max-width: 992px) {
  .hero__left-text {
    left: 15%;
  }
  .hero__left-text h1 {
    margin-top: 9.375rem;
    margin-bottom: 64px;
    color: #fff;
    font-size: 49px;
    line-height: 96px;
    font-weight: 400;
  }
  .hero__left-text h1 .discover {
    font-size: 49px;
    color: #D1D1D1;
    font-weight: 600;
  }
  .hero__left-text h1 span {
    font-size: 49px;
    font-weight: 600;
  }
}
.hero__left-text h1 {
  margin-top: 9.375rem;
  margin-bottom: 64px;
  color: #fff;
  font-size: 49px;
  line-height: 96px;
  font-weight: 400;
}
.hero__left-text h1 .discover {
  font-size: 80px;
  color: #D1D1D1;
  font-weight: 600;
}
.hero__left-text h1 span {
  font-size: 90px;
  font-weight: 600;
}
.hero__left-text a {
  color: #fff;
  position: relative;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px #fff solid;
}
.hero__left-text a::before {
  content: " ";
  display: block;
  height: 1px;
  width: 700px;
  position: absolute;
  top: 50%;
  right: 100%;
  background: #fff;
}
.hero__left-text p {
  color: #fff;
  margin-bottom: 72px;
  font-weight: 400;
  line-height: 127%;
  font-size: 17px;
}
.hero .hero__right {
  display: grid;
  grid-template-rows: 80% 20%;
}
.hero .hero__right-up {
  width: 100%;
  display: inline-grid;
  grid-gap: 0px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr);
}
.hero .hero__right-up img {
  width: 100%;
  height: 100%;
}
.hero .hero__right-down {
  background: rgb(2, 28, 30);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.hero__inner {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  height: inherit;
}

.down-text {
  color: #fff;
  font-family: "Bevan", cursive;
}
.down-text h2 {
  font-size: 26px;
}
.down-text p {
  font-family: serif;
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
}

.brands {
  background-color: #B1B1B1;
}
.brands__inner {
  display: flex;
  justify-content: center;
  gap: 115px;
  padding: 48px 0;
  align-items: center;
}

.explore {
  background: url("/assets/img/bgexplore.png");
  background-size: cover;
}
.explore__info {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 1.8125rem;
  max-width: 38.75rem;
  padding-top: 4.9375rem;
  text-align: center;
}
.explore__title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.explore__title span {
  font-size: 50px;
  color: #03cec9;
}
.explore__desc {
  font-size: 17px;
  color: #fff;
}
.explore__searches-text {
  font-family: "Poppins";
  font-style: normal;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
.explore__searches-text::before {
  content: " ";
  display: block;
  height: 1px;
  width: 700px;
  position: absolute;
  top: 125%;
  right: 91.5%;
  background: #fff;
}
.explore__searches .text {
  text-align: center;
  display: block;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.explore__searches .text a {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  padding: 10px;
  border-bottom: 1px #fff solid;
}

.search-container {
  position: relative;
}
.search-input {
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 67px;
  border: 1px solid #121212;
  background-color: #f1f1f1;
  border-radius: 13px;
  width: 500px;
  height: 52px;
}
.search-input::-moz-placeholder {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: #8a8a8a;
}
.search-input::placeholder {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: #8a8a8a;
}
.search-icon {
  position: absolute;
  top: 16px;
  left: 80px;
  width: 18px;
  height: 18px;
}
.search-button {
  position: absolute;
  top: 3px;
  right: 63px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 11px;
  align-items: center;
  background-color: #1e1325;
  border: none;
  cursor: pointer;
}

input:focus-visible {
  outline-offset: 0px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.popular__grid {
  display: grid;
  margin-top: 4.5rem;
  padding-bottom: 2.875rem;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  grid-template-areas: "grid-left-top-one grid-left-top-two grid-right" "grid-left-bottom grid-left-bottom grid-right";
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 2fr;
}
.popular__grid .grid-item {
  width: 100%;
  background: rgba(254, 245, 245, 0.09);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0.625rem;
  padding: 14px;
}
.popular__grid .grid-item.taj .grid-image .grid-image {
  max-width: 245px;
  height: auto;
}
.popular__grid .grid-item.taj .grid-taj {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 12px;
}
.popular__grid .grid-item.taj .grid-taj h1 {
  font-weight: 600;
  color: #fff;
  font-size: 23px;
}
.popular__grid .grid-item.taj .grid-taj .inner__text-heart {
  align-self: flex-end;
  margin-right: 1rem;
  text-align: center;
}
.popular__grid .grid-item.taj .grid-taj .inner__text-heart img {
  background: #494949;
  border-radius: 50%;
  padding: 6px;
  filter: none;
}
.popular__grid .grid-item.taj .grid-taj .inner__text-heart p {
  color: #fff;
  font-size: 12px;
}
.popular__grid .grid-item.taj .grid-taj .grid-inner__text {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 6px;
}
.popular__grid .grid-item.taj .grid-taj .grid-inner__text img {
  width: 24px;
  height: 24px;
  filter: none;
}
.popular__grid .grid-item.taj .grid-taj .grid-inner__text p {
  font-size: 19px;
  font-weight: 300;
}
.popular__grid .grid-item.paris .grid-paris {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 12px;
}
.popular__grid .grid-item.paris .grid-paris h1 {
  font-weight: 600;
  color: #fff;
  font-size: 23px;
}
.popular__grid .grid-item.paris .grid-paris .inner__text-heart {
  align-self: flex-end;
  margin-right: 1rem;
  text-align: center;
}
.popular__grid .grid-item.paris .grid-paris .inner__text-heart img {
  background: #494949;
  border-radius: 50%;
  padding: 6px;
  filter: none;
}
.popular__grid .grid-item.paris .grid-paris .inner__text-heart p {
  color: #fff;
  font-size: 12px;
}
.popular__grid .grid-item.paris .grid-paris .grid-inner__text {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 6px;
}
.popular__grid .grid-item.paris .grid-paris .grid-inner__text img {
  width: 24px;
  height: 24px;
  filter: none;
}
.popular__grid .grid-item.paris .grid-paris .grid-inner__text p {
  font-size: 19px;
  font-weight: 300;
}
.popular__grid .grid-item.waterfall .grid-waterfall {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 22px;
}
.popular__grid .grid-item.waterfall .grid-waterfall h1 {
  font-weight: 600;
  color: #fff;
  font-size: 23px;
}
.popular__grid .grid-item.waterfall .grid-waterfall .inner__text-heart {
  align-self: flex-end;
  margin-right: 1rem;
  text-align: center;
}
.popular__grid .grid-item.waterfall .grid-waterfall .inner__text-heart img {
  background: #494949;
  border-radius: 50%;
  padding: 6px;
  filter: none;
}
.popular__grid .grid-item.waterfall .grid-waterfall .inner__text-heart p {
  color: #fff;
  font-size: 12px;
}
.popular__grid .grid-item.waterfall .grid-waterfall .grid-inner__text {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 6px;
}
.popular__grid .grid-item.waterfall .grid-waterfall .grid-inner__text img {
  width: 24px;
  height: 24px;
  filter: none;
}
.popular__grid .grid-item.waterfall .grid-waterfall .grid-inner__text p {
  font-size: 19px;
  font-weight: 300;
}
.popular__grid .grid-item .grid-china {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 22px;
}
.popular__grid .grid-item .grid-china h1 {
  font-weight: 600;
  color: #fff;
  font-size: 23px;
}
.popular__grid .grid-item .grid-china .grid-inner__text {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 6px;
}
.popular__grid .grid-item .grid-china .grid-inner__text p {
  font-size: 19px;
  font-weight: 300;
}
.popular__grid .grid-item .grid-china .inner__text-heart {
  align-self: flex-end;
  margin-right: 1rem;
  text-align: center;
}
.popular__grid .grid-item .grid-china .inner__text-heart img {
  background: #494949;
  border-radius: 50%;
  padding: 6px;
}
.popular__grid .grid-item .grid-china .inner__text-heart p {
  color: #fff;
  font-size: 12px;
}
.popular__grid .grid-item.china {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 18px;
}
.popular__grid .grid-item .grid-image {
  width: 100%;
}
.popular__grid .grid-item .grid-image .grid-image {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.46);
}
.popular__grid .grid-item .grid-image.china {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.46);
}

.grid-left-top-one {
  grid-area: grid-left-top-one;
}

.grid-left-top-two {
  grid-area: grid-left-top-two;
}

.grid-right {
  grid-area: grid-right;
}

.grid-left-bottom {
  grid-area: grid-left-bottom;
}

.popular__items {
  margin-top: 4.5rem;
  padding-bottom: 2.875rem;
  display: flex;
  gap: 20px;
}
.popular__items .items__col {
  background: rgba(254, 245, 245, 0.09);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0.625rem;
  border-radius: 10px;
}
.popular__items .items__col:nth-child(1) {
  flex-basis: 80%;
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.popular__items .items__col:nth-child(2) {
  flex-basis: 20%;
  padding: 16px;
}
.popular__items .items__col.col-left {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.popular__items .items__col.col-left .items__row {
  background: rgba(254, 245, 245, 0.09);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0.625rem;
  padding: 17px 16px 13px 13px;
  display: flex;
  gap: 20px;
}
.popular__items .items__col.col-left .items__row:nth-child(1) {
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  flex-basis: 70%;
  padding: 0;
}
.popular__items .items__col.col-left .items__row:nth-child(2) {
  flex-basis: 20%;
}
.popular__items .items__col.col-left .items__row.bottom .card {
  display: flex;
  color: #fff;
  gap: 26px;
  width: 100%;
}
.popular__items .items__col.col-left .items__row.bottom .card-text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex: 1 0 30%;
  justify-content: center;
}
.popular__items .items__col.col-left .items__row.bottom .card-likes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: auto;
}
.popular__items .items__col.col-left .items__row.bottom .card-likes p {
  color: #fff;
  font-size: 12px;
}
.popular__items .items__col.col-left .items__row.bottom .card-likes img {
  width: 24px;
  box-sizing: content-box;
  padding: 8px;
  height: 24px;
  background: #494949;
  border-radius: 50%;
}
.popular__items .items__col.col-left .items__row.bottom .card-thumbnail {
  width: 590px;
  filter: brightness(0.6);
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.popular__items .items__col.col-left .items__row.bottom .card h1 {
  font-size: 23px;
  font-weight: 600;
}
.popular__items .items__col.col-left .items__row.bottom .card .card-location {
  display: flex;
  gap: 6px;
}
.popular__items .items__col.col-left .items__row.bottom .card .card-location img {
  width: 24px;
  height: 24px;
}
.popular__items .items__col.col-left .items__row .items__col-inner {
  background: rgba(254, 245, 245, 0.09);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 16px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) {
  flex-basis: 70%;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card {
  color: #fff;
  width: 100%;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card-text {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
  margin-bottom: 33px;
  gap: 22px;
  flex: 1 0 0;
  justify-content: center;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card-text__left {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card-likes {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: auto;
  margin-right: 6px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card-likes p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #f3f3f3;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card-likes img {
  width: 24px;
  box-sizing: content-box;
  padding: 8px;
  height: 24px;
  background: #494949;
  border-radius: 50%;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card-thumbnail {
  width: 100%;
  filter: brightness(0.6);
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card h1 {
  font-size: 23px;
  font-weight: 600;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card .card-location {
  display: flex;
  gap: 6px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(1) .card .card-location img {
  width: 24px;
  height: 24px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) {
  flex-basis: 30%;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card {
  color: #fff;
  width: 100%;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card-text {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 24px;
  gap: 22px;
  flex: 1 0 0;
  justify-content: center;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card-text__left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card-likes {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: auto;
  margin-right: 6px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card-likes p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #f3f3f3;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card-likes img {
  width: 24px;
  box-sizing: content-box;
  padding: 8px;
  height: 24px;
  background: #494949;
  border-radius: 50%;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card-thumbnail {
  width: 100%;
  height: auto;
  filter: brightness(0.6);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card h1 {
  font-size: 23px;
  font-weight: 600;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card .card-location {
  display: flex;
  gap: 6px;
}
.popular__items .items__col.col-left .items__row .items__col-inner:nth-child(2) .card .card-location img {
  width: 24px;
  height: 24px;
}
.popular__items .items__col.col-right .card {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 26px;
}
.popular__items .items__col.col-right .card-text {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.popular__items .items__col.col-right .card-likes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: auto;
}
.popular__items .items__col.col-right .card-likes p {
  color: #fff;
  font-size: 12px;
}
.popular__items .items__col.col-right .card-likes img {
  width: 24px;
  box-sizing: content-box;
  padding: 8px;
  height: 24px;
  background: #494949;
  border-radius: 50%;
}
.popular__items .items__col.col-right .card-thumbnail {
  width: 280px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.popular__items .items__col.col-right .card h1 {
  font-size: 23px;
  font-weight: 600;
}
.popular__items .items__col.col-right .card .card-location {
  display: flex;
  gap: 6px;
}
.popular__items .items__col.col-right .card .card-location img {
  width: 24px;
  height: 24px;
}

.services {
  background-color: #d9d9d9;
}
.services__top {
  padding-top: 45px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 68px;
}
.services__text {
  text-align: center;
  font-size: 3.125rem;
  color: #009490;
}
.services__cards {
  text-align: center;
}
.services__cards .services__card {
  position: relative;
  z-index: 12;
}
.services__cards .services__card-img img {
  width: 259px;
  height: 270px;
  max-width: 100%;
  max-height: 100%;
  filter: brightness(0.49);
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__cards .services__card-text {
  background: #171721;
  z-index: 15;
  color: #fff;
  position: absolute;
  border-radius: 4px;
  top: -15%;
  max-width: 210px;
  padding: 12px;
}
@media screen and (max-width: 769px) {
  .services__cards .services__card-text {
    left: 15%;
  }
}
.services__cards .services__card-text h1 {
  font-size: 20px;
  font-weight: 500;
}
.services__cards .services__card-text p {
  font-size: 13px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=styles.css.map */