[class*=__container] {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 380px !important;
  width: 100%;
}
@media screen and (min-width: 768px) {
  [class*=__container] {
    max-width: 768px !important;
  }
}
@media screen and (min-width: 992px) {
  [class*=__container] {
    max-width: 1240px !important;
  }
}
@media screen and (min-width: 1280px) {
  [class*=__container] {
    max-width: 1280px !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}

.header {
  width: 100%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.26);
  min-height: 70px;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: min-height 400ms cubic-bezier(0.4, 0, 0.2, 1), background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header {
    background: #000;
  }
}

.header.sticky {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky {
  min-height: 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 30;
}
.header__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.menu__icon {
  display: block;
  position: relative;
  z-index: 30;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
.menu__icon span, .menu__icon::before, .menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #ffffff;
}
.menu__icon::before, .menu__icon::after {
  content: "";
}
.menu__icon::before {
  top: 0;
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
@media screen and (min-width: 768px) {
  .menu__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu__content {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    transform: translateX(-100%);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__content._active {
    transform: translateX(0%);
  }
  .menu__content::before {
    content: "";
    width: 100vw;
    height: 70px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
  }
}

.navigation__links {
  display: flex;
  flex-direction: column;
  border-radius: 45px;
  gap: 35px;
  transition: all 0.4s;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
.navigation__links a {
  color: #000;
}
@media screen and (min-width: 480px) {
  .navigation__links {
    flex-direction: column;
    gap: 50px;
    background-color: transparent;
    color: #000;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .navigation__links {
    flex-direction: row;
    gap: 35px;
    flex-wrap: wrap;
    background-color: #212121;
    color: #fff;
  }
}
.navigation__links li {
  list-style: none;
  padding: 15px 35px;
  border-radius: 45px;
  transition: all 0.4s;
}
@media screen and (min-width: 480px) {
  .navigation__links li.active {
    flex-direction: column;
    gap: 50px;
    background-color: transparent;
    color: #000;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .navigation__links li.active {
    flex-direction: row;
    gap: 35px;
    flex-wrap: wrap;
    background-color: #fff;
  }
}
.navigation__links li.active a {
  color: #000;
}
@media screen and (min-width: 480px) {
  .navigation__links li a {
    color: #000;
  }
}
@media screen and (min-width: 768px) {
  .navigation__links li a {
    color: #fff;
  }
}
@media screen and (max-width: 1285px) {
  .navigation__links li {
    padding: 15px 15px;
  }
}

.header__join {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 991.98px) {
  .header__button {
    display: none;
  }
}

.partners {
  background-color: #b1b1b1;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 44px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .partners__list {
    padding-top: 38px;
    padding-bottom: 38px;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .partners__list {
    padding-right: 95px;
    padding-left: 95px;
  }
}

.packages {
  background-color: #212121;
  padding-top: 46px;
  padding-bottom: 32px;
}
.packages .links {
  width: 100%;
  text-align: center;
}
.packages__title {
  margin-bottom: 21px;
  font-size: 34px;
  font-weight: 500;
  color: #ffffff;
}
.packages__title span {
  font-size: inherit;
  font-weight: 500;
  color: #00706d;
}
.packages__text {
  margin-bottom: 48px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.packages__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .packages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .packages__list {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.packages__item {
  border-radius: 10px;
  padding: 20px;
  max-width: 365px;
  height: 100%;
  width: 100%;
  max-height: 585px;
  border: 1px rgb(0, 148, 144) solid;
  background: rgba(254, 245, 245, 0.09);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1180px) {
  .packages__item:last-child {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .packages__item:last-child {
    display: none;
  }
}
.packages__item-image {
  filter: brightness(0.8);
  border-radius: 10px;
}
.packages__item-image-container {
  border-radius: 10px;
  overflow: hidden;
}
.packages__item-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 9px;
  display: flex;
}

.package__header-name {
  font-size: 23px;
  font-weight: 600;
  color: #f3f3f3;
}
.package__header-location {
  font-size: 19px;
  font-weight: 400;
  display: flex;
  gap: 6px;
  color: #f3f3f3;
}
.package__header-location:before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("/assets/img/location-tick.svg");
  display: block;
}
.package__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package__action p {
  font-size: 12px;
  color: #f3f3f3;
}
.package__action-like {
  width: 36px;
  height: 36px;
  background-color: #494949;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  display: flex;
}
.package__description {
  font-size: 12px;
  color: #f3f3f3;
}
.package__join {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.package__join a {
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 21px;
  background-color: #00706d;
  color: #ffffff;
}

.book {
  display: flex;
  height: 100%;
  background-color: #272727;
}
.book__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 72px;
  width: 100%;
}
.book__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.1);
  background-image: url("/assets/img/book.png");
  background-size: cover;
  background-position: 25% 25%;
}
@media screen and (max-width: 1024px) {
  .book__content::before {
    display: block;
  }
}
.book__content .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 72px;
  padding: 60px 35px;
}
@media screen and (min-width: 768px) {
  .book__content .inner {
    padding-top: 132px;
    padding-bottom: 107px;
    padding-inline: 142px;
  }
}
@media screen and (min-width: 992px) {
  .book__content .inner {
    padding: 25px 50px;
  }
}
.book__content .inner form {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23fff' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 25px;
  width: 100%;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  position: relative;
}
.book__content .inner form .text-inputs {
  display: flex;
  position: relative;
}
.book__content .inner form .text-input__icon {
  position: absolute;
  top: 25%;
  left: 2%;
}
.book__content .inner form .text-input {
  background-color: transparent;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 12%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 3px #494747 solid;
}
.book__content .inner form .text-input::-moz-placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #c6c6c6;
}
.book__content .inner form .text-input::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #c6c6c6;
}
.book__content .inner form .date-forms {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .book__content .inner form .date-forms {
    flex-direction: row;
    gap: 50px;
  }
}
.book__content .inner form .date-inputs {
  display: flex;
  position: relative;
  width: 100%;
}
.book__content .inner form .date-inputs .date-input {
  background-color: transparent;
  width: 100%;
  height: 45px;
  padding-left: 12%;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 3px #494747 solid;
}
@media screen and (min-width: 768px) {
  .book__content .inner form .date-inputs .date-input {
    padding-left: 22%;
  }
}
.book__content .inner form .date-inputs .date-input::-moz-placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #c6c6c6;
}
.book__content .inner form .date-inputs .date-input::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #c6c6c6;
}
.book__content .inner form .date-inputs .date-input__icon {
  position: absolute;
  top: 25%;
  left: 2%;
}
@media screen and (min-width: 768px) {
  .book__content .inner form .date-inputs .date-input__icon {
    left: 4%;
  }
}
.book__content .inner form .checkboxes {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .book__content .inner form .checkboxes {
    padding: 0 25px;
  }
}
.book__content .inner form .checkboxes .check {
  display: flex;
}
.book__content .inner form label {
  font-size: 20px;
  color: #ffffff;
  position: relative;
}
.book__content .inner form .form-btn {
  text-align: center;
  background-color: #00706d;
  padding: 17px 26px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .book__content .inner form .form-btn {
    padding: 17px 106px;
  }
}

.book__title {
  position: relative;
  color: #fff;
  font-size: 34px;
  font-weight: 500;
}
.book__title span {
  font-size: 34px;
  font-weight: 600;
  color: #00706d;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  margin: 0px;
  margin-top: 10px;
}

.preferences {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .preferences {
    flex-direction: row;
    gap: 50px;
  }
}
.preferences-input__icon {
  position: absolute;
  top: 25%;
  left: 2%;
}
@media screen and (min-width: 768px) {
  .preferences-input__icon {
    left: 4%;
  }
}
.preferences-inputs {
  width: 100%;
  position: relative;
}
.preferences-inputs select {
  background-color: transparent;
  width: 100%;
  height: 45px;
  padding-left: 7%;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 3px #494747 solid;
}
@media screen and (min-width: 768px) {
  .preferences-inputs select {
    padding-left: 25%;
  }
}
.preferences-inputs select::-moz-placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #c6c6c6;
}
.preferences-inputs select::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #c6c6c6;
}
.preferences .nice-select {
  width: 100%;
  background: transparent;
  color: #c6c6c6;
  border: 3px #494747 solid;
  padding: 0;
  padding-left: 5%;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .preferences .nice-select {
    padding-left: 15%;
  }
}
.preferences .nice-select span {
  padding-left: 7%;
}
@media screen and (min-width: 768px) {
  .preferences .nice-select span {
    padding-left: 7%;
  }
}
.preferences .nice-select .list {
  background: #272727;
  width: 100%;
  color: #fff;
}
.preferences .nice-select .list li:hover {
  background: #494747;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #272727;
}

.date-input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  transition: all 0.5s ease;
  line-height: normal;
  text-transform: none;
  width: 100% !important;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  -o-border-image: initial;
     border-image: initial;
}
@media screen and (min-width: 992px) {
  .date-input {
    width: 200px !important;
  }
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #d9d9d9;
  position: relative;
}
@media screen and (min-width: 768px) {
  .services {
    padding-top: 26px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .services {
    padding-top: 44px;
    padding-bottom: 38px;
  }
}
.services__title {
  font-size: 36px;
  color: #00706d;
}
.services__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
@media screen and (min-width: 1280px) {
  .services__header {
    margin-bottom: 45px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    justify-content: space-between;
    width: 100%;
  }
}

.swiper-slide {
  position: relative;
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    width: 220px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide {
    width: 365px;
  }
}
.swiper-slide__description {
  position: absolute;
  top: 0;
  left: 31px;
  z-index: 10;
  background: #171721;
  border-radius: 4px;
  max-width: 210px;
  color: #fff;
  padding: 10px 14px;
}
@media screen and (min-width: 768px) {
  .swiper-slide__description {
    max-width: 124px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__description {
    max-width: 207px;
    left: 46;
    transform: scale(0);
    transition: transform 700ms ease;
  }
  .swiper-slide:hover .swiper-slide__description {
    transform: scale(1);
  }
}
.swiper-slide__title {
  text-align: center;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .swiper-slide__title {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.swiper-slide__text {
  font-size: 13px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .swiper-slide__text {
    font-size: 7px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__text {
    font-size: 13px;
    line-height: 1.3;
  }
}
.swiper-slide__img-container {
  overflow: hidden;
  border-radius: 11px;
  margin-left: auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .swiper-slide__img-container {
    width: 155px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__img-container {
    width: 257px;
    display: block;
  }
}
.swiper-slide__img {
  border-radius: 11px;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .swiper-slide__img {
    width: 155px;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .swiper-slide:hover .swiper-slide__img {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__img {
    width: 257px;
  }
}
.swiper-slide__count {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 81px;
  letter-spacing: 0.01em;
  color: #6b6b6b;
}
@media screen and (min-width: 768px) {
  .swiper-slide__count {
    font-size: 36.6599px;
    line-height: 48px;
    top: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__count {
    font-size: 61px;
    line-height: 81px;
  }
}

.swiper-pagination {
  position: static;
  margin-top: 20px;
}
.swiper-pagination-bullet-active {
  background: #000;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}

.explore {
  padding-top: 56px;
  padding-bottom: 32px;
  background-image: url("/assets/img/bgexplore.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .explore {
    background-image: url("/assets/img/bgexplore.png");
  }
}
@media screen and (min-width: 992px) {
  .explore {
    padding-top: 79px;
    background-image: url("/assets/img/bgexplore.png");
  }
}
.explore__title {
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.explore__title span {
  font-size: 50px;
  color: #03cec9;
}
.explore__text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .explore__text {
    font-size: 17px;
    max-width: 610px;
    margin-right: auto;
    margin-left: auto;
  }
}
.explore__link {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 42px;
  padding-bottom: 10px;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.explore__link-div {
  width: 100%;
  text-align: center;
}
.explore__link:hover, .explore__link:focus {
  color: #00706d;
}
.explore__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00706d;
  transition: width 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.explore__link:hover::after, .explore__link:focus::after {
  width: 100%;
}
.explore .popular__title {
  display: none;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  position: relative;
}
@media screen and (min-width: 992px) {
  .explore .popular__title {
    display: block;
  }
}
.explore .popular__title::before {
  content: " ";
  display: block;
  height: 1px;
  width: 700px;
  position: absolute;
  top: 125%;
  right: 91.5%;
  background: #fff;
}
.explore .search-form {
  max-width: 450px;
  height: 51px;
  background-color: #f1f1f1;
  border: 1px solid rgba(18, 18, 18, 0.17);
  display: flex;
  align-items: center;
  border-radius: 13px;
  margin: 0 auto 40px;
  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.explore .search-form .search {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.explore .search-form input {
  color: #8a8a8a;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin-left: 15px;
  background: 0 0;
  border: none;
  outline: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 38px;
}
.explore .search-form input::-moz-placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.explore .search-form input::placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.explore .search-form .search-form__submit-btn {
  width: 49px;
  border: none;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  margin-right: 2px;
  position: absolute;
  right: 0;
  border-radius: 11px;
  height: 45px;
  background-color: #1e1325;
}

.list-explore {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .list-explore {
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 23px;
  }
}
@media screen and (min-width: 992px) {
  .list-explore {
    display: grid;
    margin-top: 72px;
    gap: 20px;
    grid-template-columns: auto 1fr auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .list-explore {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.list-explore__item {
  background-color: rgba(254, 245, 245, 0.09);
  -webkit-backdrop-filter: blur(39px);
          backdrop-filter: blur(39px);
  border-radius: 10px;
}
.list-explore__item--big {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .list-explore__item--big .list-explore__img {
    width: 100%;
  }
}
.list-explore__item--big1 {
  grid-column: span 2;
}
.list-explore__picture {
  overflow: hidden;
  border-radius: 10px;
}
.list-explore__img {
  border-radius: 9px;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-explore__link {
  padding: 23px 16px;
  height: 100%;
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 992px) {
  .list-explore__link {
    padding: 13px 16px;
    display: flex;
    flex-direction: column;
  }
  .list-explore__link--flex {
    flex-direction: row;
    gap: 21px;
  }
}
.list-explore__link:hover .list-explore__img {
  transform: scale(1.02);
}
.list-explore__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .list-explore__description {
    padding-top: 22px;
  }
}
@media screen and (min-width: 992px) {
  .list-explore__description {
    gap: 7px;
    flex-wrap: wrap;
    padding-top: 12px;
  }
}
.list-explore__title {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #f3f3f3;
}
@media screen and (min-width: 768px) {
  .list-explore__title {
    margin-bottom: 22px;
  }
}
.list-explore__location {
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #f3f3f3;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (min-width: 768px) {
  .list-explore__location {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .list-explore__location {
    font-size: 19px;
  }
}
.list-explore__location::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/img/location-tick.svg");
}
.list-explore__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-explore__action--position {
  flex: 0 1 auto;
  margin-left: auto;
}
.list-explore__like {
  margin-bottom: 18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #494949;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-explore__like-counter {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.recommendations {
  padding: 100px 0 50px 0;
  background-color: #f5f5f5;
  color: #fff;
}
.recommendations__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.recommendations__title-text {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
}
.recommendations__title-text span {
  color: #00706d;
  font-size: inherit;
}

.slide-videoSwiper__wrapper {
  height: 580px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.description-recommendations {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  max-height: 487px;
  color: #ffffff;
  background-color: #252525;
  border-radius: 7px;
  padding: 20px;
  max-width: 395px;
  flex-direction: column;
}

.description-recommendations__title {
  font-weight: 600;
  font-size: 23px;
}

.description-recommendations__location {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 19px;
}
.description-recommendations__location::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/img/location-tick.svg");
}

.description-recommendations__text {
  margin-bottom: 42px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

.description-recommendations__button {
  align-self: center;
  padding: 10px 21px;
  border: none;
  cursor: pointer;
  background-color: #00706d;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.01em;
  color: #ffffff;
}

#my-video {
  margin-bottom: 50px;
  border-radius: 8px;
  overflow: hidden;
}

#my-video .vjs-big-play-button {
  border: none;
  width: 2em;
  height: 2em;
  line-height: 2em;
  top: 48%;
  margin-left: -0.5em;
  color: #ccc;
  background: #262626;
  font-size: 2.8em;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

#my-video:hover .vjs-big-play-button {
  background-color: #00706d;
}

#my-video .vjs-control-bar {
  background: #262626;
  color: #ccc;
  width: 64%;
  left: 18%;
  bottom: 4%;
  font-size: 1.3em;
}

#my-video .vjs-play-progress,
#my-video .vjs-volume-level {
  background: #00706d;
}

#my-video .vjs-play-control {
  right: 102%;
  background: #262626;
  border-radius: 10%;
  position: absolute;
}

#my-video .vjs-fullscreen-control {
  left: 102%;
  background: #262626;
  position: absolute;
  border-radius: 10%;
}

#my-video .vjs-picture-in-picture-control {
  display: none;
}

#my-video .vjs-current-time {
  display: block;
}

.videoSwiper__swiper-button-next,
.videoSwiper__swiper-button-prev {
  top: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: #252525;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.videoSwiper__swiper-button-next::after,
.videoSwiper__swiper-button-prev::after {
  font-size: inherit;
}
.videoSwiper__swiper-button-next:hover, .videoSwiper__swiper-button-next:focus,
.videoSwiper__swiper-button-prev:hover,
.videoSwiper__swiper-button-prev:focus {
  background-color: #00706d;
}

.videoSwiper__swiper-button-next {
  right: 40%;
  top: 18px;
  transform: translateX(100px);
}

video {
  -o-object-fit: fill;
     object-fit: fill;
}

.videoSwiper__swiper-button-prev {
  left: 60%;
  top: 18px;
}

.getInTouch {
  padding-top: 39px;
  padding-bottom: 39px;
  background: linear-gradient(to bottom, #00706d 19%, #212121 0%);
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .getInTouch {
    background: linear-gradient(to bottom, #00706d 23%, #212121 0%);
    padding-top: 25px;
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 992px) {
  .getInTouch {
    background: linear-gradient(to bottom, #00706d 42%, #212121 0%);
    padding-top: 52px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 992px) {
  .getInTouch__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.getInTouch__title {
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .getInTouch__title {
    margin-bottom: 60px;
    text-align: left;
  }
}
.getInTouch__form {
  margin-bottom: 57px;
}
@media screen and (min-width: 992px) {
  .getInTouch__form {
    margin-bottom: 0px;
  }
}

.form-getInTouch {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 48px 53px 50px 52px;
  border-radius: 12px;
  background-color: #181818;
}
@media screen and (min-width: 768px) {
  .form-getInTouch {
    background: rgba(0, 0, 0, 0.76);
    -webkit-backdrop-filter: blur(40.5px);
            backdrop-filter: blur(40.5px);
    border-radius: 9px 9px 0px 0px;
    padding: 78px 39px 28px 39px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .form-getInTouch {
    padding-top: 21px;
    margin-left: 0;
  }
}
.form-getInTouch__title {
  display: none;
  margin-bottom: -21px;
}
@media screen and (min-width: 992px) {
  .form-getInTouch__title {
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
}
.form-getInTouch__text-inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
}
@media screen and (min-width: 768px) {
  .form-getInTouch__text-inputs {
    -moz-column-gap: 93px;
         column-gap: 93px;
  }
}
.form-getInTouch__text-inputs input {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form-getInTouch__text-inputs input {
    width: 41%;
  }
}
.form-getInTouch__input {
  padding: 0px;
  padding-bottom: 6px;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #e6e6e6;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-getInTouch__input::-moz-placeholder {
  color: #e6e6e6;
}
.form-getInTouch__input::placeholder {
  color: #e6e6e6;
}
.form-getInTouch__input:focus {
  outline: none;
  border-color: #00706d;
}
.form-getInTouch__comment {
  max-height: 117px;
  padding: 5px 16px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #e6e6e6;
  resize: none;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-getInTouch__comment::-moz-placeholder {
  color: #e6e6e6;
}
.form-getInTouch__comment::placeholder {
  color: #e6e6e6;
}
.form-getInTouch__comment:focus {
  outline: none;
  border-color: #00706d;
}
.form-getInTouch__submit-btn {
  align-self: center;
  padding: 10px 21px;
  min-width: 220px;
  border: none;
  cursor: pointer;
  background-color: #00706d;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.contacts-getInTouch {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 992px) {
  .contacts-getInTouch {
    padding-right: 70px;
    padding-top: 20px;
  }
}
.contacts-getInTouch__title {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 22px;
}
@media screen and (min-width: 992px) {
  .contacts-getInTouch__title {
    margin-bottom: 52px;
  }
}
.contacts-getInTouch__item:not(:last-child) {
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.contacts-getInTouch__link {
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-getInTouch__link:hover, .contacts-getInTouch__link:focus {
  color: #00706d;
}
.contacts-getInTouch__media-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 19px;
}
.contacts-getInTouch__media-link {
  fill: white;
  transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-getInTouch__media-link:hover, .contacts-getInTouch__media-link:focus {
  fill: #00706d;
}
.contacts-getInTouch__media-icon {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-getInTouch__media-link:hover .contacts-getInTouch__media-icon, .contacts-getInTouch__media-link:focus .contacts-getInTouch__media-icon {
  transform: scale(1.1);
}

.experiences {
  padding-top: 58px;
  padding-bottom: 52px;
  color: #ffffff;
  background-image: url("/assets/img/mobile/experiences-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.experiences__cont {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 380px !important;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .experiences__cont {
    max-width: 768px !important;
  }
}
@media screen and (min-width: 1280px) {
  .experiences__cont {
    max-width: 1280px !important;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .experiences {
    background-image: url("/assets/img/mobile/experiences-bg@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .experiences {
    background-image: url("/assets/img/tablet/experiences-bg.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .experiences {
    background-image: url("/assets/img/tablet/experiences-bg@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .experiences {
    background-image: url("/assets/img/desktop/experiences-bg.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .experiences {
    background-image: url("/assets/img/desktop/experiences-bg@2x.jpg");
  }
}
.experiences__title {
  margin-bottom: 51px;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
}

.experiencesSwiper__swiper-pagination {
  height: 5px !important;
  background-color: #ffffff;
  margin-top: 22px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .experiencesSwiper__swiper-pagination {
    display: block;
    margin-top: 0;
    position: absolute;
    left: 218px !important;
    top: 243px !important;
    width: 520px !important;
  }
}
@media screen and (min-width: 1280px) {
  .experiencesSwiper__swiper-pagination {
    width: 790px !important;
    top: 340px !important;
    left: 461px !important;
  }
}
.experiencesSwiper__swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #006360;
}
.experiencesSwiper__swiper-button-next, .experiencesSwiper__swiper-button-prev {
  top: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: #252525;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.experiencesSwiper__swiper-button-next::after, .experiencesSwiper__swiper-button-prev::after {
  font-size: inherit;
}
.experiencesSwiper__swiper-button-next:hover, .experiencesSwiper__swiper-button-next:focus, .experiencesSwiper__swiper-button-prev:hover, .experiencesSwiper__swiper-button-prev:focus {
  background-color: #00706d;
}
.experiencesSwiper__swiper-button-next {
  right: 0;
  transform: translateY(-40px);
}
@media screen and (min-width: 768px) {
  .experiencesSwiper__swiper-button-next {
    transform: translateY(-32px);
  }
}
@media screen and (min-width: 1280px) {
  .experiencesSwiper__swiper-button-next {
    transform: translateY(-45px);
  }
}
.experiencesSwiper__swiper-button-prev {
  left: 100%;
  transform: translate(-120px, -40px);
}
@media screen and (min-width: 768px) {
  .experiencesSwiper__swiper-button-prev {
    transform: translate(-130px, -32px);
  }
}
@media screen and (min-width: 1280px) {
  .experiencesSwiper__swiper-button-prev {
    transform: translate(-120px, -45px);
  }
}

.slide-experiencesSwiper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .slide-experiencesSwiper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.slide-experiencesSwiper__client-photo {
  border-radius: 9px;
  margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
  .slide-experiencesSwiper__client-photo {
    margin-bottom: 0;
  }
}
.slide-experiencesSwiper__body {
  max-width: 520px;
}
@media screen and (min-width: 1280px) {
  .slide-experiencesSwiper__body {
    max-width: 788px;
  }
}
.slide-experiencesSwiper__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.52;
  letter-spacing: 0.01em;
}
.slide-experiencesSwiper__location {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 39px;
  font-size: 19px;
  line-height: 1.47;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .slide-experiencesSwiper__location {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .slide-experiencesSwiper__location {
    margin-bottom: 53px;
  }
}
.slide-experiencesSwiper__location::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/img/location-tick.svg");
}
.slide-experiencesSwiper__text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .slide-experiencesSwiper__text {
    margin-bottom: 10px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .slide-experiencesSwiper__text {
    font-size: 18px;
    margin-bottom: 37px;
  }
}
.slide-experiencesSwiper__rating {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 4px;
}
.footer {
  background-image: url("/assets/img/desktop/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 19px;
}
@media screen and (min-width: 992px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__container:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__container:not(:last-child) {
    padding-bottom: 31px;
  }
}
@media screen and (min-width: 992px) {
  .footer__container:not(:last-child) {
    padding-bottom: 0px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 43px;
}
.footer__form-subscribe {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__form-subscribe {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 992px) {
  .footer__form-subscribe {
    margin-bottom: 58px;
  }
}
.footer__copyright {
  margin-top: 19px;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.8;
}
@media screen and (min-width: 992px) {
  .footer__copyright {
    align-self: flex-start;
    font-size: 12px;
    margin-top: 28px;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form-subscribe {
    max-width: 440px;
  }
}
.form-subscribe__label {
  display: block;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.18;
}
.form-subscribe__input {
  margin-bottom: 16px;
  background: #e5e7eb;
  box-shadow: 0px 6px 12px -6px rgba(255, 255, 255, 0.12), 0px 8px 24px -4px rgba(255, 255, 255, 0.08);
  border-radius: 11px;
  border: none;
  padding: 14px 9px;
  width: 100%;
}
.form-subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.8;
  color: #b1b5bb;
}
.form-subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.8;
  color: #b1b5bb;
}
.form-subscribe__input:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .form-subscribe__input {
    max-width: 300px;
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.form-subscribe__submit-btn {
  align-self: flex-end;
  padding: 13px 21px;
  min-width: 71px;
  border: none;
  cursor: pointer;
  background-color: #00706d;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.privacy-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .privacy-list {
    gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .privacy-list {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(0%, calc(100% + 28px));
    z-index: 10;
  }
}
.privacy-list__link {
  font-size: 14px;
  line-height: 1.14;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-list__link:hover, .privacy-list__link:focus {
  color: #00706d;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li,
ol {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */