// .container {
//   // max-width: 1830px;
//   width: min(95%, 1320px);
//   margin-inline: auto;
//   @media screen and (max-width: 1024px) {
//     max-width: 992px;
//     margin: 0 auto;
//   }
//   @media screen and (max-width: 768px) {
//     max-width: 710px;
//     margin: 0 auto;
//   }
//   @media screen and (max-width: 480px) {
//     max-width: 360px;
//     margin: 0 auto;
//   }
// }

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin desktopxl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

[class*="__container"] {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 380px !important;
  width: 100%;
  @include tablet {
    max-width: 768px !important;
  }
  @include desktop {
    max-width: 1240px !important;
  }
  @include desktopxl {
    max-width: 1280px !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
