
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

$primaryColor: #ffffff;
$secondaryColor: #f3f3f3;
$accentColor: #00706d;

$primaryBg: #000000;

$transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);