.explore {
    background: url('/assets/img/bgexplore.png');
    background-size: cover;

    &__info {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 1.8125rem;
        max-width: 38.75rem;
        padding-top: 4.9375rem;
        text-align: center;
    }

    &__title {
        color: #fff;
        font-size: 50px;
        font-weight: 700;

        span {
            font-size: 50px;

            color: #03CEC9;
        }
    }

    &__desc {
        font-size: 17px;
        color: #fff;
    }

    &__searches {
        &-text {
            font-family: 'Poppins';
            font-style: normal;
            position: relative;
            font-weight: 400;
            font-size: 24px;
            color: #FFFFFF;

            &::before {
                content: " ";
                display: block;
                height: 1px;
                width: 700px;
                position: absolute;
                top: 125%;
                right: 91.5%;
                background: #fff;
            }
        }

        .text {
            text-align: center;
            display: block;
            padding-bottom: 2rem;
            margin: 0 auto;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 21px;
                padding: 10px;

                border-bottom: 1px #fff solid;

            }
        }
    }
}

.search {
    &-container {
        position: relative;
    }

    &-input {
        padding-top: 15px;
        padding-right: 16px;
        padding-bottom: 15px;
        padding-left: 67px;
        border: 1px solid #121212;
        background-color: #F1F1F1;
        border-radius: 13px;
        width: 500px;
        height: 52px;

        &::placeholder {
            font-size: 14px;
            font-family: 'Poppins';
            font-weight: 400;
            color: #8A8A8A;
        }
    }

    &-icon {
        position: absolute;
        top: 16px;
        left: 80px;
        width: 18px;
        height: 18px;
    }

    &-button {
        position: absolute;
        top: 3px;
        right: 63px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        border-radius: 11px;
        align-items: center;
        background-color: #1E1325;
        border: none;
        cursor: pointer;
    }
}

input:focus-visible {
    outline-offset: 0px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.popular__grid {
    display: grid;
    margin-top: 4.5rem;
    padding-bottom: 2.875rem;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    grid-template-areas: "grid-left-top-one grid-left-top-two grid-right"
        "grid-left-bottom grid-left-bottom grid-right";
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 2fr;

    .grid-item {
        width: 100%;
        background: rgba(254, 245, 245, 0.09);
        backdrop-filter: blur(4px);
        border-radius: .625rem;
        padding: 14px;

        &.taj {
            .grid-image {
                .grid-image {
                    max-width: 245px;
                    height: auto;
                }
            }

            .grid-taj {
                display: flex;
                flex-direction: column;
                gap: 14px;
                margin-top: 12px;

                h1 {
                    font-weight: 600;
                    color: #fff;
                    font-size: 23px;
                }

                .inner__text-heart {
                    align-self: flex-end;
                    margin-right: 1rem;
                    text-align: center;

                    img {
                        background: #494949;
                        border-radius: 50%;
                        padding: 6px;
                        filter: none;
                    }

                    p {
                        color: #fff;
                        font-size: 12px;
                    }
                }

                .grid-inner__text {
                    display: flex;
                    color: #fff;
                    align-items: center;
                    gap: 6px;

                    img {
                        width: 24px;
                        height: 24px;
                        filter: none;
                    }

                    p {
                        font-size: 19px;
                        font-weight: 300;
                    }
                }
            }
        }

        &.paris {
            .grid-paris {
                display: flex;
                flex-direction: column;
                gap: 14px;
                margin-top: 12px;

                h1 {
                    font-weight: 600;
                    color: #fff;
                    font-size: 23px;
                }

                .inner__text-heart {
                    align-self: flex-end;
                    margin-right: 1rem;
                    text-align: center;

                    img {
                        background: #494949;
                        border-radius: 50%;
                        padding: 6px;
                        filter: none;
                    }

                    p {
                        color: #fff;
                        font-size: 12px;
                    }
                }

                .grid-inner__text {
                    display: flex;
                    color: #fff;
                    align-items: center;
                    gap: 6px;

                    img {
                        width: 24px;
                        height: 24px;
                        filter: none;
                    }

                    p {
                        font-size: 19px;
                        font-weight: 300;
                    }
                }
            }
        }

        &.waterfall {
            .grid-waterfall {
                display: flex;
                flex-direction: column;
                gap: 22px;
                margin-top: 22px;

                h1 {
                    font-weight: 600;
                    color: #fff;
                    font-size: 23px;
                }

                .inner__text-heart {
                    align-self: flex-end;
                    margin-right: 1rem;
                    text-align: center;

                    img {
                        background: #494949;
                        border-radius: 50%;
                        padding: 6px;
                        filter: none;
                    }

                    p {
                        color: #fff;
                        font-size: 12px;
                    }
                }

                .grid-inner__text {
                    display: flex;
                    color: #fff;
                    align-items: center;
                    gap: 6px;

                    img {
                        width: 24px;
                        height: 24px;
                        filter: none;
                    }

                    p {
                        font-size: 19px;
                        font-weight: 300;
                    }
                }
            }
        }

        .grid-china {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 3.5rem;
            gap: 22px;

            h1 {
                font-weight: 600;
                color: #fff;
                font-size: 23px;
            }

            .grid-inner__text {
                display: flex;
                color: #fff;
                align-items: center;
                gap: 6px;

                p {
                    font-size: 19px;
                    font-weight: 300;
                }
            }

            .inner__text-heart {
                align-self: flex-end;
                margin-right: 1rem;
                text-align: center;

                img {
                    background: #494949;
                    border-radius: 50%;
                    padding: 6px;
                }

                p {
                    color: #fff;
                    font-size: 12px;
                }
            }
        }

        &.china {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 18px;
        }

        .grid-image {
            width: 100%;

            .grid-image {
                border-radius: 10px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(0.46);
            }

            &.china {
                border-radius: 10px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(0.46);
            }
        }

    }
}

.grid-left-top-one {
    grid-area: grid-left-top-one;
}

.grid-left-top-two {
    grid-area: grid-left-top-two;
}

.grid-right {
    grid-area: grid-right;
}

.grid-left-bottom {
    grid-area: grid-left-bottom;
}