.explore {
  background: url("/assets/img/bgexplore.png");
  background-size: cover;

  &__info {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 1.8125rem;
    max-width: 38.75rem;
    padding-top: 4.9375rem;
    text-align: center;
  }

  &__title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;

    span {
      font-size: 50px;

      color: #03cec9;
    }
  }

  &__desc {
    font-size: 17px;
    color: #fff;
  }

  &__searches {
    &-text {
      font-family: "Poppins";
      font-style: normal;
      position: relative;
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;

      &::before {
        content: " ";
        display: block;
        height: 1px;
        width: 700px;
        position: absolute;
        top: 125%;
        right: 91.5%;
        background: #fff;
      }
    }

    .text {
      text-align: center;
      display: block;
      padding-bottom: 2rem;
      margin: 0 auto;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 21px;
        padding: 10px;

        border-bottom: 1px #fff solid;
      }
    }
  }
}

.search {
  &-container {
    position: relative;
  }

  &-input {
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 67px;
    border: 1px solid #121212;
    background-color: #f1f1f1;
    border-radius: 13px;
    width: 500px;
    height: 52px;

    &::placeholder {
      font-size: 14px;
      font-family: "Poppins";
      font-weight: 400;
      color: #8a8a8a;
    }
  }

  &-icon {
    position: absolute;
    top: 16px;
    left: 80px;
    width: 18px;
    height: 18px;
  }

  &-button {
    position: absolute;
    top: 3px;
    right: 63px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    border-radius: 11px;
    align-items: center;
    background-color: #1e1325;
    border: none;
    cursor: pointer;
  }
}

input:focus-visible {
  outline-offset: 0px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.popular__grid {
  display: grid;
  margin-top: 4.5rem;
  padding-bottom: 2.875rem;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "grid-left-top-one grid-left-top-two grid-right"
    "grid-left-bottom grid-left-bottom grid-right";
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 2fr;

  .grid-item {
    width: 100%;
    background: rgba(254, 245, 245, 0.09);
    backdrop-filter: blur(4px);
    border-radius: 0.625rem;
    padding: 14px;

    &.taj {
      .grid-image {
        .grid-image {
          max-width: 245px;
          height: auto;
        }
      }

      .grid-taj {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 12px;

        h1 {
          font-weight: 600;
          color: #fff;
          font-size: 23px;
        }

        .inner__text-heart {
          align-self: flex-end;
          margin-right: 1rem;
          text-align: center;

          img {
            background: #494949;
            border-radius: 50%;
            padding: 6px;
            filter: none;
          }

          p {
            color: #fff;
            font-size: 12px;
          }
        }

        .grid-inner__text {
          display: flex;
          color: #fff;
          align-items: center;
          gap: 6px;

          img {
            width: 24px;
            height: 24px;
            filter: none;
          }

          p {
            font-size: 19px;
            font-weight: 300;
          }
        }
      }
    }

    &.paris {
      .grid-paris {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 12px;

        h1 {
          font-weight: 600;
          color: #fff;
          font-size: 23px;
        }

        .inner__text-heart {
          align-self: flex-end;
          margin-right: 1rem;
          text-align: center;

          img {
            background: #494949;
            border-radius: 50%;
            padding: 6px;
            filter: none;
          }

          p {
            color: #fff;
            font-size: 12px;
          }
        }

        .grid-inner__text {
          display: flex;
          color: #fff;
          align-items: center;
          gap: 6px;

          img {
            width: 24px;
            height: 24px;
            filter: none;
          }

          p {
            font-size: 19px;
            font-weight: 300;
          }
        }
      }
    }

    &.waterfall {
      .grid-waterfall {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-top: 22px;

        h1 {
          font-weight: 600;
          color: #fff;
          font-size: 23px;
        }

        .inner__text-heart {
          align-self: flex-end;
          margin-right: 1rem;
          text-align: center;

          img {
            background: #494949;
            border-radius: 50%;
            padding: 6px;
            filter: none;
          }

          p {
            color: #fff;
            font-size: 12px;
          }
        }

        .grid-inner__text {
          display: flex;
          color: #fff;
          align-items: center;
          gap: 6px;

          img {
            width: 24px;
            height: 24px;
            filter: none;
          }

          p {
            font-size: 19px;
            font-weight: 300;
          }
        }
      }
    }

    .grid-china {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3.5rem;
      gap: 22px;

      h1 {
        font-weight: 600;
        color: #fff;
        font-size: 23px;
      }

      .grid-inner__text {
        display: flex;
        color: #fff;
        align-items: center;
        gap: 6px;

        p {
          font-size: 19px;
          font-weight: 300;
        }
      }

      .inner__text-heart {
        align-self: flex-end;
        margin-right: 1rem;
        text-align: center;

        img {
          background: #494949;
          border-radius: 50%;
          padding: 6px;
        }

        p {
          color: #fff;
          font-size: 12px;
        }
      }
    }

    &.china {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 18px;
    }

    .grid-image {
      width: 100%;

      .grid-image {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(0.46);
      }

      &.china {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(0.46);
      }
    }
  }
}

.grid-left-top-one {
  grid-area: grid-left-top-one;
}

.grid-left-top-two {
  grid-area: grid-left-top-two;
}

.grid-right {
  grid-area: grid-right;
}

.grid-left-bottom {
  grid-area: grid-left-bottom;
}

.popular__items {
  margin-top: 4.5rem;
  padding-bottom: 2.875rem;
  display: flex;
  gap: 20px;

  .items__col {
    background: rgba(254, 245, 245, 0.09);
    backdrop-filter: blur(4px);
    border-radius: 0.625rem;
    border-radius: 10px;

    &:nth-child(1) {
      flex-basis: 80%;
      background: none;
      backdrop-filter: none;
    }

    &:nth-child(2) {
      flex-basis: 20%;
      padding: 16px;
    }

    &.col-left {
      display: flex;
      gap: 20px;
      flex-direction: column;

      .items__row {
        background: rgba(254, 245, 245, 0.09);
        backdrop-filter: blur(4px);
        border-radius: 0.625rem;

        &:nth-child(1) {
          background: none;
          backdrop-filter: none;
          padding: 0;
        }
        padding: 16px;
        display: flex;
        gap: 20px;

        &.bottom {
          .card {
            display: flex;
            color: #fff;
            gap: 26px;
            width: 100%;
            &-text {
              display: flex;
              flex-direction: column;
              gap: 22px;
              flex: 1 0 0;
              justify-content: center;
            }

            &-likes {
              display: flex;
              flex-direction: column;
              gap: 6px;
              margin-left: auto;

              p {
                color: #fff;
                font-size: 12px;
              }

              img {
                width: 24px;
                box-sizing: content-box;
                padding: 8px;
                height: 24px;
                background: #494949;
                border-radius: 50%;
              }
            }

            &-thumbnail {
              width: 600px;
              filter: brightness(0.6);
              height: 275px;
              object-fit: cover;
              border-radius: 8px;
            }

            h1 {
              font-size: 23px;
              font-weight: 600;
            }

            .card-location {
              display: flex;
              gap: 6px;

              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
        .items__col-inner {
          background: rgba(254, 245, 245, 0.09);
          backdrop-filter: blur(4px);
          border-radius: 10px;
          padding: 16px;

          &:nth-child(1) {
            flex-basis: 70%;
          }

          &:nth-child(2) {
            flex-basis: 30%;
          }
        }
      }
    }

    &.col-right {
      .card {
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 26px;

        &-text {
          display: flex;
          flex-direction: column;
          gap: 22px;
        }

        &-likes {
          display: flex;
          flex-direction: column;
          gap: 6px;
          margin-left: auto;

          p {
            color: #fff;
            font-size: 12px;
          }

          img {
            width: 24px;
            box-sizing: content-box;
            padding: 8px;
            height: 24px;
            background: #494949;
            border-radius: 50%;
          }
        }

        &-thumbnail {
          width: 280px;
          height: 450px;
          object-fit: cover;
          border-radius: 8px;
        }

        h1 {
          font-size: 23px;
          font-weight: 600;
        }

        .card-location {
          display: flex;
          gap: 6px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
