.experiences {
  padding-top: 58px;
  padding-bottom: 52px;
  color: $primaryColor;
  background-image: url("/assets/img/mobile/experiences-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__cont {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 380px !important;
    width: 100%;
    @include tablet {
      max-width: 768px !important;
    }
    @include desktopxl {
      max-width: 1280px !important;
    }
  }
  @include retina {
    background-image: url("/assets/img/mobile/experiences-bg@2x.jpg");
  }

  @include tablet {
    background-image: url("/assets/img/tablet/experiences-bg.jpg");

    @include retina {
      background-image: url("/assets/img/tablet/experiences-bg@2x.jpg");
    }
  }

  @include desktopxl {
    background-image: url("/assets/img/desktop/experiences-bg.jpg");

    @include retina {
      background-image: url("/assets/img/desktop/experiences-bg@2x.jpg");
    }
  }

  &__title {
    margin-bottom: 51px;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
  }
}

// ---------------------------------------------------

.experiencesSwiper {
  &__swiper-pagination {
    height: 5px !important;
    background-color: $primaryColor;

    margin-top: 22px;
    margin-bottom: 40px;

    @include tablet {
      display: block;
      margin-top: 0;
      position: absolute;
      left: 218px !important;
      top: 243px !important;
      width: 520px !important;
    }

    @include desktopxl {
      width: 790px !important;
      top: 340px !important;
      left: 461px !important;
    }

    & .swiper-pagination-progressbar-fill {
      background-color: #006360;
    }
  }

  &__swiper-button-next,
  &__swiper-button-prev {
    &::after {
      font-size: inherit;
    }

    top: 100%;
    position: absolute;

    width: 40px;
    height: 40px;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-color: #252525;
    transition: background-color $transition;

    &:hover,
    &:focus {
      background-color: $accentColor;
    }
  }

  &__swiper-button-next {
    right: 0;
    transform: translateY(-40px);

    @include tablet {
      transform: translateY(-32px);
    }

    @include desktopxl {
      transform: translateY(-45px);
    }
  }

  &__swiper-button-prev {
    left: 100%;
    transform: translate(-120px, -40px);

    @include tablet {
      transform: translate(-130px, -32px);
    }

    @include desktopxl {
      transform: translate(-120px, -45px);
    }
  }
}

// -------------------------------------------------

.slide-experiencesSwiper {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  &__client-photo {
    border-radius: 9px;
    margin-bottom: 34px;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &__body {
    max-width: 520px;
    @include desktopxl {
      max-width: 788px;
    }
  }
  &__name {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 21px;
    line-height: 1.52;
    letter-spacing: 0.01em;
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 39px;
    font-size: 19px;
    line-height: 1.47;
    letter-spacing: 0.01em;

    @include tablet {
      margin-bottom: 19px;
    }

    @include desktopxl {
      margin-bottom: 53px;
    }
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("/assets/img/location-tick.svg");
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;

    @include tablet {
      margin-bottom: 10px;
      font-size: 13px;
    }

    @include desktopxl {
      font-size: 18px;
      margin-bottom: 37px;
    }
  }
  &__rating {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__value {
  }
}

//
