.header {
    background: #000;
    display: flex;
    // position: sticky;
    position: fixed;
    max-width: 100%;
    width: 100%;
    z-index: 50;
    top: 0;

    a {
        text-decoration: none;
        font-size: 17px;
        color: #fff;

        img {
            padding: 12px 0;
        }
    }

    &__logo {
        padding: 16px 0;
    }

    &__inner {
        // padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            background-color: #212121;
            border-radius: 45px;
            gap: 35px;

            @media screen and (max-width: 768px) {
                display: none;

            }

            li {
                list-style: none;
                padding: 15px 35px;
                border-radius: 45px;

                &.active {
                    background-color: #fff;

                    a {
                        color: #000;
                    }
                }
            }
        }
    }

    &__right {
        display: flex;

        .joinus {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        img {
            display: none;

            @media screen and (max-width: 768px) {
                display: inline-block;
            }
        }
    }
}

.header__inner ul li a.active {
    background-color: black;
}