// .hero {
//   display: grid;

//   grid-template-rows: 50% 50%;
//   grid-template-columns: auto;
//   @include tablet {
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: none;
//   }
//   width: 100%;
//   height: 100vh;
//   padding-top: 55px;
//   &__left {
//     &:nth-child(1) {
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       position: relative;
//       opacity: 1;
//       &::before {
//         content: " ";
//         display: block;
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         z-index: 5;
//         height: 100%;
//         filter: brightness(0.6);
//         background-image: url("/assets/img/sea.png");
//         background-repeat: no-repeat;
//         background-position: 5%;
//         background-size: cover;
//       }
//       .text {
//         max-width: 85%;
//         color: #d1d1d1;
//         font-weight: 600;
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         z-index: 10;
//         h1 {
//           line-height: 96px;
//           margin-bottom: 59px;
//         }
//         .discover {
//           font-size: 80px;
//         }

//         .new {
//           font-size: 49px;
//           font-weight: 500;
//         }
//         .experiences {
//           font-size: 90px;
//           color: #fff;
//         }
//         p {
//           font-size: 17px;
//           color: #fff;
//           font-weight: 300;
//           margin-bottom: 72px;
//         }
//         .explore-btn {
//           text-align: center;
//           a {
//             font-size: 18px;
//             font-weight: 300;
//             padding: 9px 30px;
//             display: inline-block;
//             border: 1px #fff solid;
//             position: relative;
//             transition: $transition;
//             &:hover {
//               background: #fff;
//               color: #000;
//             }
//             &::before {
//               content: " ";
//               display: block;
//               height: 1px;
//               width: 700px;
//               position: absolute;
//               top: 50%;
//               right: 100%;
//               background: #fff;
//             }
//           }
//         }
//       }
//     }
//   }
//   &__right {
//     display: grid;
//     grid-template-rows: 75% 25%;
//     .up {
//       width: 100%;
//       display: inline-grid;
//       grid-template-columns: repeat(3, 1fr);
//       @include mobile {
//         grid-template-columns: repeat(2, 1fr);
//       }
//       @include tablet {
//         grid-template-columns: repeat(3, 1fr);
//       }
//       div {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         overflow: hidden;
//       }
//       picture{
//         width: 100%;
//       }
//       img {
//         flex-shrink: 0;
//         filter: brightness(0.6);
//         min-width: 100%;
//         min-height: 100%;
//       }
//     }
//     .down {
//       background: rgb(2, 28, 30);
//       display: flex;
//       filter: brightness(0.99);
//       align-items: center;
//       justify-content: space-between;
//       padding: 0 115px;
//       gap: 78px;
//       &-text {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 12px;
//         color: #fff;
//         h2 {
//           font-size: 24px;
//           font-family: "Bevan", sans-serif;
//         }
//         p {
//           font-size: 18px;
//           font-family: "JetBrains mono", monospace;
//         }
//       }
//     }
//   }
// }
