.packages {
  background-color: #212121;
  padding-top: 46px;
  padding-bottom: 32px;
  .links{
    width: 100%;
    text-align: center;
  }
  &__container {
    // text-align: center;
  }
  &__header {
  }
  &__title {
    margin-bottom: 21px;
    font-size: 34px;
    font-weight: 500;
    color: $primaryColor;
    span {
      font-size: inherit;
      font-weight: 500;
      color: $accentColor;
    }
  }
  &__text {
    margin-bottom: 48px;
    color: $primaryColor;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktopxl {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
.packages__item {
  border-radius: 10px;
  padding: 20px;
  max-width: 365px;
  height: 100%;
  width: 100%;
  max-height: 585px;
  border: 1px rgba(0, 148, 144, 1) solid;
  background: rgba(254, 245, 245, 0.09);
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1180px) {
    &:last-child {
      display: none;
    }
  }
  @include desktopxl {
    &:last-child {
      display: none;
    }
  }
  &-image {
    filter: brightness(0.8);
    border-radius: 10px;
    &-container {
      border-radius: 10px;
      overflow: hidden;
    }
  }
  &-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 9px;
    display: flex;
  }
}
.package {
  &__header {
    &-name {
      font-size: 23px;
      font-weight: 600;
      color: $secondaryColor;
    }
    &-location {
      font-size: 19px;
      font-weight: 400;
      display: flex;
      gap: 6px;
      color: $secondaryColor;
      &:before {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("/assets/img/location-tick.svg");
        display: block;
      }
    }
  }
  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 12px;
      color: $secondaryColor;
    }
    &-like {
      width: 36px;
      height: 36px;
      background-color: #494949;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-bottom: 7px;
      display: flex;
    }
  }
  &__description {
    font-size: 12px;
    color: $secondaryColor;
  }
  &__join {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    a {
      border-radius: 5px;
      font-size: 15px;
      padding: 10px 21px;
      background-color: $accentColor;
      color: $primaryColor;
    }
  }
}
