.recommendations {
  padding: 100px 0 50px 0;
  background-color: #f5f5f5;
  color: #fff;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    &-text {
      color: #000;
      font-weight: 700;
      font-size: 2rem;
      span {
        color: $accentColor;
        font-size: inherit;
      }
    }
  }
}
.slide-videoSwiper__wrapper {
  height: 580px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.description-recommendations {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  max-height: 487px;
  color: $primaryColor;
  background-color: #252525;
  border-radius: 7px;
  padding: 20px;
  max-width: 395px;
  flex-direction: column;
}

.description-recommendations__title {
  font-weight: 600;
  font-size: 23px;
}
.description-recommendations__location {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 19px;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/assets/img/location-tick.svg");
  }
}
.description-recommendations__text {
  margin-bottom: 42px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}
.description-recommendations__button {
  align-self: center;
  padding: 10px 21px;
  border: none;
  cursor: pointer;
  background-color: $accentColor;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.01em;
  color: #ffffff;
}

#my-video {
  margin-bottom: 50px;
  border-radius: 8px;
  overflow: hidden;
}
#my-video .vjs-big-play-button {
  border: none;
  width: 2em;
  height: 2em;
  line-height: 2em;
  top: 48%;
  margin-left: -0.5em;
  color: #ccc;
  background: #262626;
  font-size: 2.8em;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  transition: background-color $transition;
}

#my-video:hover .vjs-big-play-button {
  background-color: $accentColor;
}
#my-video .vjs-control-bar {
  background: #262626;
  color: #ccc;
  width: 64%;
  left: 18%;
  bottom: 4%;
  font-size: 1.3em;
}

#my-video .vjs-play-progress,
#my-video .vjs-volume-level {
  background: $accentColor;
}

#my-video .vjs-play-control {
  right: 102%;
  background: #262626;
  border-radius: 10%;
  position: absolute;
}

#my-video .vjs-fullscreen-control {
  left: 102%;
  background: #262626;
  position: absolute;
  border-radius: 10%;
}

#my-video .vjs-picture-in-picture-control {
  display: none;
}

#my-video .vjs-current-time {
  display: block;
}
.videoSwiper__swiper-button-next,
.videoSwiper__swiper-button-prev {
  &::after {
    font-size: inherit;
  }

  top: 100%;
  position: absolute;

  width: 40px;
  height: 40px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: #252525;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.videoSwiper__swiper-button-next {
  right: 40%;
  top: 18px;
  transform: translateX(100px);
}
video {
  object-fit: fill;
}

.videoSwiper__swiper-button-prev {
  left: 60%;
  top: 18px;
  //   transform: translateX(-120px);
}
.swiper-button-prev {
}
.videoSwiper__swiper-button-prev {
}

// .recommendations{
//   padding: 100px 0 50px 0;
// }
// .slide-videoSwiper__wrapper{
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   height: 560px;
// }
// .description-recommendations{
//   position: absolute;
//   display: flex;
//   max-height: 487px;
//   color: $primaryColor;
//   background-color: #252525;
//   border-radius: 7px;
//   padding: 20px;
//   max-width: 395px;
//   flex-direction: column;
// }
