.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #d9d9d9;
  position: relative;
  @include tablet {
    padding-top: 26px;
    padding-bottom: 35px;
  }

  @include desktop {
    padding-top: 44px;
    padding-bottom: 96px;
  }
  
  &__title {
    font-size: 36px;
    color: $accentColor;
    @include tablet {
      font-size: 50px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    @include desktop {
      margin-bottom: 45px;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  @include tablet {
    justify-content: space-between;
    width: 100%;
  }
}

.swiper-slide {
  position: relative;
  @include tablet {
    width: 220px;
  }

  @include desktop {
    width: 365px;
  }

  &__description {
    position: absolute;
    top: 0;
    left: 31px;
    z-index: 10;
    background: #171721;
    border-radius: 4px;
    max-width: 210px;
    color: #fff;
    padding: 10px 14px;
    @include tablet {
      max-width: 124px;
      left: 0;
    }

    @include desktop {
      max-width: 207px;
      left: 46;
      transform: scale(0);
      transition: transform 700ms ease;
      .swiper-slide:hover & {
        transform: scale(1);
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 1.3;
    @include tablet {
      font-size: 7px;
    }

    @include desktop {
      font-size: 13px;
      line-height: 1.3;
    }
  }

  &__img-container {
    overflow: hidden;
    border-radius: 11px;
    margin-left: auto;
    display: flex;
    @include tablet {
      width: 155px;
      display: block;
    }

    @include desktop {
      width: 257px;
      display: block;
    }
  }

  &__img {
    border-radius: 11px;
    margin-left: auto;
    margin-right: 0;
    @include tablet {
      width: 155px;
      transition: transform $transition;
      .swiper-slide:hover & {
        transform: scale(1.05);
      }
    }

    @include desktop {
      width: 257px;
    }
  }

  &__count {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-30%);
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 81px;
    letter-spacing: 0.01em;
    color: #6b6b6b;
    @include tablet {
      font-size: 36.6599px;
      line-height: 48px;
      top: 60%;
    }

    @include desktop {
      font-size: 61px;
      line-height: 81px;
    }
  }
}

.swiper-pagination {
  position: static;
  margin-top: 20px;
  &-bullet-active {
    background: #000;
  }

  @include tablet {
    display: none;
  }
}
